GEMINI_API_KEY=
OPENROUTER_API_KEY=
DEEPSEEK_API_KEY=
MISTRAL_API_KEY_4=
OPENAI_API_KEY=
EMBEDDING_API_KEY=
PROJECT_NAME=RAG_Class11_Mathematics
ENVIRONMENT=development
LOG_LEVEL=INFO
VECTOR_DB_PATH=./vectordb
CHROMA_DB_PATH=./vectordb/chroma
DEFAULT_LLM_MODEL=gemini-1.5-flash
EMBEDDING_MODEL=BAAI/bge-large-en-v1.5
CHUNK_SIZE=500
CHUNK_OVERLAP=70
CACHE_EMBEDDINGS=true
CACHE_RESPONSES=true